@import "tailwindcss";

body {
  background-color: white;
}

.hero {
  z-index: 1;
  position: relative;
}

.landing-hero::before {
  background-image: url("/images/hero-bg.jpg");
}

.about-hero::before {
  background-image: url("/images/about/lasu-front.png");
}

.program-hero::before {
  background-image: url("/images/programs/hero-bg.png");
}

.hero::before {
  background-position: center;
  background-size: cover;
  content: "";
  position: absolute;
  inset: 0;
  filter: opacity(1);
  filter: brightness(0.4);
  z-index: -1;
}
